/*
 * bw.css
 * Originally by patrick bizeau
 * updated by Sean Boran
 */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #0000FF;
}
.right {
	text-align: right;
}
form {
	margin: 0px;
	padding: 0px;
}
.center {
	text-align: center;
}
hr {
	color: #0000FF;
	background-color: #0000FF;
	height: 1px;
}
.light {
	background-color: #E0E0F8;
}
.dark {
	background-color: #A6A6FF;
}
a {
	color: #071594;
}
table {
	border: 1px solid #0000FF;
}
.bw {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	vertical-align: middle;
}
.user_footer {
	color: grey;
}
.text16red {
	font-size: 16px;
	color: red;
}
.text13 {
	font-size: 13px;
}
.text14 {
	font-size: 14px;
}
.text15 {
	font-size: 15px;
}
.text16 {
	font-size: 16px;
}
.text18 {
	font-size: 18px;
}
.text20 {
	font-size: 20px;
}


/* 
 * company / account menu
 *
 */
table#t1 td {
    padding: 4px;
/*    #border-style: hidden;
    border: none;  
    border-width:6px;
    #border: solid #000 1px; */
}
table#t1 {
/*	# ignored: width='300'; cellspacing='10';
	#margin-left: auto; margin-right: auto;
        #border-collapse: collapse;
	#background-color: #A6A6FF;
	#background-color: #FFCC00;    // mustard
	frame='void';
	font-size: medium;
        border-style: hidden;
        #color : black;   */
    	border: none;  
	margin-left: 1em;
	background-color: white;
	vertical-align: middle;
        font-size: 16px;
}

/*
 * reports
 */
table#t2 td {
    padding: 5px;
}
table#t2 {
        color : black;
    /*    border-style: hidden;
        margin-left: 1em;
        background-color: white;
        vertical-align: middle;
        font-size: medium;  */
}

textarea,input,select {
	border: 1px solid #0000FF;
	font-size: x-small;
}

#reportmenu {
font-size: 140%;
width: 600px;
padding: 3px 0;
border: 1px solid #fff;
margin: 1 auto;
}
#reportmenu li {
display: inline;
margin: 3px;
padding: 4px;
}

/*
 * h_emf_pixel_001 http://www.css-menü_menues/horizontal_menue_effekte_mit_farben_pixel_001_003.htm
 *
 */
#headermenue {
font-size: 140%;
/*background-color: #00c;*/
background-color: blue;
width: 758px;
padding: 3px 0;
border: 9px solid #fff;
margin: 1 auto;

}
#headermenue ul {
list-style-type: none;
margin: 0px;
padding: px;
}
#headermenue li {
display: inline;
margin: 6px;
padding: 4px;
}
/*
color: white;
color: yellow;
color: white;
 * */
#headermenue li a, #headermenue li a:link {
text-decoration: none;
padding: 0 5px;
color: #fff;
}
#headermenue li a:visited {
color: #0c0;
}
#headermenue li a:hover, #headermenue li a:focus, #headermenue li a:active {
color: #ff3; 
}
