/*
 * bw.css
 * Originally by patrick bizeau
 * updated by Sean Boran
 */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #0000FF;
}
.right {
	text-align: right;
}
form {
	margin: 0px;
	padding: 0px;
}
.center {
	text-align: center;
}
hr {
	color: #0000FF;
	background-color: #0000FF;
	height: 1px;
}
.light {
	background-color: #E0E0F8;
}
.dark {
	background-color: #A6A6FF;
}
a {
	color: #071594;
}
table {
	border: 1px solid #0000FF;
}
.bw {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	vertical-align: middle;
}
.text16red {
	font-size: 16px;
	color: red;
}

.text13 {
	font-size: 13px;
}
.text14 {
	font-size: 14px;
}
.text15 {
	font-size: 15px;
}
.text16 {
	font-size: 16px;
}
.text18 {
	font-size: 18px;
}
.text20 {
	font-size: 20px;
}

.logtext {
	white-space:pre;
	font-size: 13px;
	color: black;
        padding-right: -2px;
        padding-left: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-left: 1em;
	line-height: 80%
}

/* 
 *
 */
table#t1 td {
    padding: 4px;
}
table#t1 {
/*	# ignored: width='300'; cellspacing='10';
	#margin-left: auto; margin-right: auto;
        #border-collapse: collapse;
	#background-color: #A6A6FF;
	#background-color: #FFCC00;    // mustard
	frame='void';
	font-size: medium;
        border-style: hidden;
        #color : black;   */
    	border: none;  
	margin-left: 1em;
	background-color: white;
	vertical-align: middle;
        font-size: 16px;
}

/*
 * reports
 */
table#t2 td {
    padding: 5px;
}
table#t2 {
        color : black;
    /*    border-style: hidden;
        margin-left: 1em;
        background-color: white;
        vertical-align: middle;
        font-size: medium;  */
}

textarea,input,select {
	border: 1px solid #0000FF;
	font-size: x-small;
}

#GuiList1Title {
	text-align: center;
	font-size: 18px;
    	padding: 0px;
}
table#GuiList1Table {
        color : black;
	text-align: center;
	font-size: 13px;
	border: none;
}
table#GuiList1Table td {
	text-align: left;
    	padding: 3px;
}
#GuiList1form1 {
	font-size: 140%;
	width: 600px;
	padding: 0px 0;
	border: 0px solid #fff;
	margin: 1 auto;
}
#GuiList1form1 ul {
	margin: 2px;
	padding: 2px;
	line-height: 60%
}
#GuiList1form1 li {
	display: inline;
	text-align: left;
	font-size: 13px;
	margin: 2px;
	padding: 3px;
	line-height: 100%
}

#header2 table  {
	width: 758px;
	border: 1px solid #fff;
}
table#header2_small {
	width: 500px;
	border: 1px solid #0000FF;
	/*border-top-style: none;
	border-right-style: none; */
}
table#header2_small tr {
	border: 2px;
}

#user_footer {
	font-size: 11px;
	color: grey;
	text-align: center;
	width: 500px;
	padding: 0px 0;
}

/**
 * main menu
 */
#menu1 {
	font-size: 140%;
	width: 758px;
	padding: 3px 0;
	border: 0px solid #fff;
	margin: 0 auto;
}
#menu1 h3 {
	font-size: 16px;
	padding: 0px; 
	line-height: 0%
	text-indent: 50px;
	letter-spacing: 1px;
	word-spacing: -1px;
	text-align: left;
}
#menu1 li {
	font-size: 15px;
	display: inline;
	margin: 2px;
	padding: 3px;
	line-height: 80%
}

/*
 * h_emf_pixel_001 http://www.css-menü_menues/horizontal_menue_effekte_mit_farben_pixel_001_003.htm
 *
 */

#headermenue {
	font-size: 140%;
	background-color: blue;
	width: 500px;
	padding: 3px 0;
	border: 9px solid #fff;
	margin: 1 auto;
}
#headermenue ul {
	list-style-type: none;
	margin: 0px;
	padding: px;
}
#headermenue li {
	display: inline;
	margin: 6px;
	padding: 4px;
}
/*
color: white;
color: yellow;
color: white;
 * */
#headermenue li a, #headermenue li a:link {
text-decoration: none;
padding: 0 5px;
color: #fff;
}
#headermenue li a:visited {
color: #0c0;
}
#headermenue li a:hover, #headermenue li a:focus, #headermenue li a:active {
color: #ff3; 
}


.bluebox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #006699;
	border: 1px solid #000000;
}
.greybox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 50px;
	border: 1px solid #000000;
}


/* new menus 
 *
 * */
#apDivX {
        position:relative;
        z-index:3;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #FF0000;
        padding-right: 33px;
        padding-left: 0px;
        padding-top: 7px;
        height: 20px;
} 
#apDivX a {
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
#apDivX a:hover {
	font-style: normal;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
}


/*
	padding: 3px 0;
	margin: 1 auto;
	background-color: blue;
color: #fff;
green color: #0c0;
color: #ff3;
color: yellow;
color: white;
*/

/*background-color: #00c;*/
/*background-color: blue;
	border-bottom:1px solid #D6D6D6;
 * */
#menu0 {
        width: 500px;
        font-size: 14px;
        border: 9px solid #fff;
        cellpadding="0";
        cellspacing="0";
}
#menu0 td a {
        margin: 5px;
        padding: 0pt 0px 0.5em;
	position: relative;
	right:0px;
	top: 4px;
}
/*#menu0 td a, #menu0 li a:link {
        margin: 5px;
        text-decoration: none;
        padding: 0 5px;
        color: black;
} */
#menu0 td a:visited {
        color: grey;
}
#menu0 td a:hover, #menu0 li a:focus, #menu0 li a:active {
        color: blue;
}

/*
 * Sub-menus of the mainmenu
 	background-image:url(images/bullet-triangle.png);
	background-position:left center;	
	background-repeat:no-repeat;
        position: relative;
	top: 57px;
        left: 150px;
        left: 0px;
	color: #000000;
        background-color: #FFFFFF;
        border: 1px solid #CCCCCC;
 */
div.smenu {
        width: 240px;
        filter:alpha(opacity=90);   /* IE */
        -moz-opacity:0.9;           /* Firefox */
        opacity: 0.9;               /* standard CSS3 */
        -khtml-opacity: 0.9;        /* Konqueror */
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
	color: black;
        border: 1px solid blue;
        background-color: white;
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
	position: absolute;
	top: 35px;
        left: 0px;
        visibility: hidden;
        text-align: left;
}
div.smenu a {
 	background-image:none;
	position: absolute;
        padding-left: 20px;
}

/* Title Row */
div.smenutitle {
        z-index:3;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        padding-top: 7px;
        padding-right: 33px;
        height: 30px;
	position:relative;
	padding-left: 6px;
	font-size: 16px;
	color: #FF0000;
 	background-image:url(images/bullet-triangle.png);
	background-position:left center;	
	background-repeat:no-repeat;
	text-ident: 30px;
}
/*
	color: red;
	font-weight: bold;
 */
div.smenutitle a {
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
div.smenutitle a:hover {
	font-style: normal;
	font-weight: normal;
	color: #FF0000;
	text-decoration: none;
} 

