/*
 * bw.css
 * Originally by patrick bizeau
 * updated by Sean Boran
 */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	color: #0000FF;
}
.right {
	text-align: right;
}
form {
	margin: 0px;
	padding: 0px;
}
.center {
	text-align: center;
}
hr {
	color: #0000FF;
	background-color: #0000FF;
	height: 1px;
}
.light {
	background-color: #E0E0F8;
}
.dark {
	background-color: #A6A6FF;
}
a {
	color: #071594;
}
table {
	border: 1px solid #0000FF;
}
.bw {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	vertical-align: middle;
}
.text16red {
	font-size: 16px;
	color: red;
}

.text13 {
	font-size: 13px;
}
.text14 {
	font-size: 14px;
}
.text15 {
	font-size: 15px;
}
.text16 {
	font-size: 16px;
}
.text18 {
	font-size: 18px;
}
.text20 {
	font-size: 20px;
}


/* 
 *
 */
table#t1 td {
    padding: 4px;
}
table#t1 {
/*	# ignored: width='300'; cellspacing='10';
	#margin-left: auto; margin-right: auto;
        #border-collapse: collapse;
	#background-color: #A6A6FF;
	#background-color: #FFCC00;    // mustard
	frame='void';
	font-size: medium;
        border-style: hidden;
        #color : black;   */
    	border: none;  
	margin-left: 1em;
	background-color: white;
	vertical-align: middle;
        font-size: 16px;
}

/*
 * reports
 */
table#t2 td {
    padding: 5px;
}
table#t2 {
        color : black;
    /*    border-style: hidden;
        margin-left: 1em;
        background-color: white;
        vertical-align: middle;
        font-size: medium;  */
}

textarea,input,select {
	border: 1px solid #0000FF;
	font-size: x-small;
}

#GuiList1Title {
	text-align: center;
	font-size: 18px;
    	padding: 0px;
}
table#GuiList1Table {
        color : black;
	text-align: center;
	font-size: 13px;
	border: none;
}
table#GuiList1Table td {
	text-align: left;
    	padding: 3px;
}
#GuiList1form1 {
	font-size: 140%;
	width: 600px;
	padding: 0px 0;
	border: 0px solid #fff;
	margin: 1 auto;
}
#GuiList1form1 ul {
	margin: 2px;
	padding: 2px;
	line-height: 60%
}
#GuiList1form1 li {
	display: inline;
	text-align: left;
	font-size: 13px;
	margin: 2px;
	padding: 3px;
	line-height: 100%
}

#header2 table  {
	width: 758px;
	border: 1px solid #fff;
}
table#header2_small {
	width: 500px;
	border: 1px solid #0000FF;
}
table#header2_small tr {
	border: 2px;
}

#user_footer {
	font-size: 11px;
	color: grey;
	text-align: center;
	width: 500px;
	padding: 0px 0;
}

/**
 * main menu
 */
#menu1 {
	font-size: 140%;
	width: 758px;
	padding: 3px 0;
	border: 0px solid #fff;
	margin: 0 auto;
}
#menu1 h3 {
	font-size: 16px;
	padding: 0px; 
	line-height: 0%
	text-indent: 50px;
	letter-spacing: 1px;
	word-spacing: -1px;
	text-align: left;
}
#menu1 li {
	font-size: 15px;
	display: inline;
	margin: 2px;
	padding: 3px;
	line-height: 80%
}

/*
 * h_emf_pixel_001 http://www.css-menü_menues/horizontal_menue_effekte_mit_farben_pixel_001_003.htm
 *
 */
#headermenue {
	font-size: 140%;
/*background-color: #00c;*/
	background-color: blue;
	width: 500px;
	padding: 3px 0;
	border: 9px solid #fff;
	margin: 1 auto;
}

#headermenue ul {
list-style-type: none;
margin: 0px;
padding: px;
}
#headermenue li {
display: inline;
margin: 6px;
padding: 4px;
}
/*
color: white;
color: yellow;
color: white;
 * */
#headermenue li a, #headermenue li a:link {
text-decoration: none;
padding: 0 5px;
color: #fff;
}
#headermenue li a:visited {
color: #0c0;
}
#headermenue li a:hover, #headermenue li a:focus, #headermenue li a:active {
color: #ff3; 
}

.bluebox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: #FFFFFF;
	background-color: #006699;
	border: 1px solid #000000;
}
.greybox {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 50px;
	border: 1px solid #000000;
}
